
.individuals-outer-container {
    
    
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.individual-inner-container {
    padding: 20px;

}

.individual-inner-center-picture-plus-name-container {
    dispaly: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 43, 43);
    padding: 10px 30px 10px 30px;
}

.individual-inner-center-name-only-container {

}
.individual-full-name-display {
    color: white;
    text-align:center;

}
.individual-picture-img {

    border-radius: 100%;
}
